{% if title %}

    <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">{{ trans(title) }}</h6>
    </li>
{% endif %}
{% if current_user() %}
    {% for item in online %}
        {% include 'navigations/mainitems.twig' with {item: item} %}
    {% endfor %}
{% endif %}
{% if current_user() == null %}
    {% for item in offline %}
        {% include 'navigations/mainitems.twig' with {item: item} %}
    {% endfor %}
{% endif %}
{% for item in global %}
    {% include 'navigations/mainitems.twig' with {item: item} %}
{% endfor %}